<%= link_to "New Post", new_post_path %>
<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post%>
    </li>

    <h1><%= post.title %></h1>

    <p><%= post.body %></p>
    <h2>Comments</h2>
    <%= render post.comments %>
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  <% end %>



</ul>
